#header-container{
    margin-bottom: 200px;
    text-align: center;
}

#mainContainer {
    background-color: rgb(197, 197, 197);
    display: grid;
    grid-template-columns: 1fr;
}

.square {
    text-align: center;
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 120px;
    margin: auto;
    grid-row-start: 1;
    grid-column-start: 1;
}

#sq1 {
    background-color: rgb(180, 3, 3);
}

#sq2 {
    background-color: rgb(255, 147, 7);
}

#sq3 {
    background-color: rgb(10, 81, 10);
}

#sq4 {
    background-color: rgb(0, 0, 146);
}